@import url("https://fonts.googleapis.com/css2?family=Unbounded&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #645cbb;
  font-family: "Unbounded", cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.container {
  background-color: white;
  width: 500px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container > h1 {
  margin-bottom: 0.5rem;
  color: #645cbb;
}
main {
  display: flex;
  flex-direction: column;
}
.user {
  width: 20rem;
  height: 3rem;
  border: none;
  background-color: #f6f6f6;
  margin: 0.5rem 0;
  padding: 0.8em;
  outline: none;
  font-weight: 600;
  border: 1px solid black;
}
.pass {
  width: 20rem;
  height: 3rem;
  border: none;
  background-color: #f6f6f6;
  margin: 0.5rem 0;
  padding: 0.8em;
  outline: none;
  font-weight: 600;
  border: 1px solid black;
}
.user::placeholder {
  color: gray;
  font-weight: 400;
}
.pass::placeholder {
  font-weight: 100;
  color: gray;
}
.button-container {
  background-color: #645cbb;
  cursor: pointer;
}
.button-container input {
  border: none;
  width: 20rem;
  height: 3rem;
  background-color: #645cbb;
  color: white;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
}
@media screen and (max-width: 445px) {
  .container>h1{
    font-size: 25px;
  }
  body {
    padding: 0 20px;
  }
  .user,
  .pass {
    width: 15rem;
  }
  .button-container input {
    width: 15rem;
    height: 3rem;
  }
}

@media screen and (max-width: 330px) {
  .container>h1{
    font-size: 20px;
  }
  .user,
  .pass {
    width: 10rem;
  }
  .button-container input {
    width: 10rem;
  }
}
